$color-accent: #518581;
$color-primary-hover: #86aaa7;
$color-primary-active: #487773;
$color-secondary: #afadb5;
$color-primary: #000;
$color-text-disabled: rgba(0, 0, 0, 0.2);
$color-bg: #fff;
$color-bg-disabled: rgba(255, 255, 255, 0.5);
$color-card-bg: #d9d9d9;

$color-bg-main: #fafafa;

$font-size-title: 44px;
$font-size-p-14: 14px;
$font-size-p-16: 16px;
$font-size-p-18: 18px;
$font-size-p-20: 20px;
$font-size-button: 16px;

$space-xxl: 48px;
$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-normal: 400;

$button-primary-bg: $color-accent;
$button-primary-text: $color-bg;
$button-hover-bg: $color-primary-hover;
$button-active-bg: $color-primary-active;
$button-disabled-bg: $color-card-bg;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1240px;

@mixin center-container {
  display: flex;
  justify-content: center;
  max-width: 1240px;
  margin: 0 auto;
}

$card-width: 360px;
$card-height: 622px;

@mixin skeleton($width: 100%, $height: 100px) {
  width: $width;
  height: $height;
  background: linear-gradient(
    90deg,
    rgba(217, 217, 217, 0) 0%,
    rgba(171, 171, 171, 0.7) 60%,
    rgba(171, 171, 171, 0.55) 70.5%,
    rgba(217, 217, 217, 0) 98%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite linear;
}

@keyframes skeleton-loading {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
