@use "@variables" as vars;

.product_page {
  display: flex;
  flex-direction: column;
  padding-bottom: 128px;
  @include vars.center-container;
}

.content {
  display: flex;
  flex-direction: column;
  gap: vars.$space-xxl;
}

@media screen and (max-width: calc(vars.$breakpoint-desktop + 40px)) {
  .product_page {
    padding-left: 30px;
    padding-right: 30px;
  }
}
