@use "@variables" as vars;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background: vars.$color-card-bg;
  cursor: pointer;
  width: vars.$card-width;
  height: vars.$card-height;

  &__subtitle {
    height: 60px;
  }
  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  }

  &__image {
    width: 360px;
    height: 360px;
    object-fit: cover;
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: vars.$space-xl vars.$space-xs;
    background: vars.$color-bg;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: vars.$space-xxs;
    margin-bottom: vars.$space-l;
  }
  &__title {
    height: 3rem;
  }
  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__footer__action {
    margin-left: auto;
    width: 155px;
  }
}

.skeleton {
  &__image {
    @include vars.skeleton(360px, 360px);
  }

  &__captionSlot {
    @include vars.skeleton(240px, 18px);
  }

  &__title {
    @include vars.skeleton(100%, 3em);
  }

  &__subtitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__child {
      @include vars.skeleton(100%, 16px);
    }
  }

  &__button {
    @include vars.skeleton(155px, 52px);
  }
}
