@use "@variables" as vars;

.catalog_page {
  @include vars.center-container;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto 50px;
    gap: vars.$space-xl;
    width: 653px;

    &__description {
      text-align: center;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: vars.$space-xl;

    &__button {
      padding: 16px 32px;
      text-wrap: nowrap;
    }

    &__search {
      display: flex;
      flex-direction: row;
      gap: vars.$space-xl;
    }

    &__filter {
      width: 300px;
    }
  }

  &__products {
    
  }

  &__pagination {
    margin: 69px auto 115px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__button {
      cursor: pointer;
      width: 35px;
      height: 35px;
      text-align: center;
      &:first-child {
        rotate: 180deg;
      }
      svg {
        width: 35px;
        height: 35px;
      }
    }
  }
}
