@use "@variables" as vars;

.text {
  color: inherit;
  word-wrap: break-word;

  &[style*="WebkitLineClamp"] {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }

  &.title {
    line-height: 109%;
    @include vars.respond-to(desktop) {
      font-size: vars.$font-size-title;
    }
  }

  &.button {
    line-height: 100%;
    @include vars.respond-to(desktop) {
      font-size: vars.$font-size-p-18;
    }
  }

  &.p-20 {
    line-height: 120%;
    @include vars.respond-to(tablet) {
      font-size: vars.$font-size-p-16;
    }
    @include vars.respond-to(desktop) {
      font-size: vars.$font-size-p-20;
    }
  }

  &.p-18 {
    line-height: 122%;
    @include vars.respond-to(tablet) {
      font-size: vars.$font-size-p-14;
    }
    @include vars.respond-to(desktop) {
      font-size: vars.$font-size-p-18;
    }
  }

  &.p-16 {
    line-height: 125%;
    @include vars.respond-to(tablet) {
      font-size: vars.$font-size-p-14;
    }
    @include vars.respond-to(desktop) {
      font-size: vars.$font-size-p-16;
    }
  }

  &.p-14 {
    font-size: vars.$font-size-p-14;
    line-height: 129%;
  }

  &.normal {
    font-weight: vars.$font-weight-normal;
  }

  &.medium {
    font-weight: vars.$font-weight-medium;
  }

  &.bold {
    font-weight: vars.$font-weight-bold;
  }

  &.primary {
    color: vars.$color-primary;
  }

  &.secondary {
    color: vars.$color-secondary;
  }

  &.accent {
    color: vars.$color-accent;
  }
}
