@use "@variables" as vars;

.catalog_products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include vars.respond-to(tablet) {
    margin-top: vars.$space-xl;
    gap: vars.$space-xl;
  }
  @include vars.respond-to(desktop) {
    margin-top: vars.$space-xxl;
    gap: 35px;
  }

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include vars.respond-to(tablet) {
      gap: vars.$space-m;
    }
    @include vars.respond-to(desktop) {
      gap: vars.$space-xl;
    }

    &__text {
      @include vars.respond-to(desktop) {
        font-size: 32px;
      }
      line-height: 112%;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include vars.respond-to(tablet) {
      gap: vars.$space-xl;
    }
    @include vars.respond-to(desktop) {
      gap: vars.$space-xl2;
    }
  }

  &__card {
    &__button {
      width: 155px;
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include vars.respond-to(tablet) {
      gap: vars.$space-l;
    }
    @include vars.respond-to(desktop) {
      gap: vars.$space-xl;
    }
  }
}

@media screen and (max-width: calc(vars.$breakpoint-desktop - 40px)) {
  .catalog_products {
    &__list {
      justify-content: space-around;
    }
  }
}
