@use "@variables" as vars;

.product_item {
  display: grid;
  display: flex;
  flex-direction: row;
  grid-template-columns: 50% 50%;
  gap: vars.$space-m;
  width: 100%;

  &__image {
    width: vars.$productImage-width;
    margin: auto;
    aspect-ratio: 1 / 1;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: vars.$space-xxl;
    width: 100%;
    @include vars.respond-to(tablet) {
      margin-top: vars.$space-m;
    }
    @include vars.respond-to(desktop-large) {
      gap: 0;
    }

    &__top,
    &__bottom {
      display: flex;
      flex-direction: column;
    }
    &__top {
      gap: vars.$space-xl;
    }
    &__bottom {
      margin-top: 32px;
      @include vars.respond-to(tablet) {
        gap: vars.$space-m;
      }
      @include vars.respond-to(desktop) {
        gap: vars.$space-xxl;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: vars.$space-xxl;

    &__button {
      padding: 16px 32px;
      &:last-child {
        border: 1px solid vars.$color-primary;
        color: vars.$color-primary;
        background: none;
      }
      &:last-child:disabled {
        border: 1px solid vars.$color-primary;
        opacity: 0.5;
        color: vars.$color-primary;
        background: none;
      }
    }
  }
}

.skeleton {
  &__image {
    aspect-ratio: 1 / 1;
    @include vars.skeleton(100%, 100%);
  }

  &__title {
    @include vars.skeleton(100%, 48px);
  }

  &__description {
    @include vars.skeleton(100%, 144px);
  }

  &__price {
    @include vars.skeleton(170px, 48px);
  }

  &__button {
    @include vars.skeleton(135px, 52px);
  }
}

.modal {
  &__content {
    margin-top: 10px;
  }
}

@media screen and (max-width: vars.$breakpoint-tablet) {
  .product_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__image {
      width: 100%;
    }
  }

  .skeleton {
    &__title {
      @include vars.skeleton(100%, 1.5em);
    }

    &__price {
      @include vars.skeleton(70px, 1.5em);
    }

    &__button {
      @include vars.skeleton(119px, 40px);
    }
  }
}

@media screen and (min-width: 1025px) {
  .product_item {
    gap: vars.$space-xxl;
  }
}
