@use "@variables" as vars;

.catalog_products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  margin-top: 48px;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: vars.$space-xl;

    &__text {
      font-size: 32px;
      line-height: 112%;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }

  &__card {
    width: 360px;
    height: 618px;

    &__button {
      width: 155px;
    }
  }
}

@media screen and (max-width: calc(vars.$breakpoint-desktop - 40px)) {
  .catalog_products {
    &__list {
      justify-content: space-around;
    }
  }
}
