@use "@variables" as vars;

.container {
  max-width: 380px;
  display: flex;
  flex-direction: column;

  &__tabs {
    margin: 30px 45px 38px;
    @include vars.respond-to(mobile) {
      margin: 25px 35px;
    }
  }
}
