@use "@variables" as vars;

.emptyList {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: vars.$space-l;
  justify-content: center;
  &.emptyList &__icon {
    font-size: 150px;
  }

  &__icon,
  &__text {
    opacity: 0.5;
  }
}
