@use "@variables" as vars;

.limitFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__dropdown {
    height: fit-content;
    @include vars.respond-to(tablet) {
      width: 84px;
    }
    @include vars.respond-to(mobile) {
      width: 72px;
    }
    @include vars.respond-to(desktop) {
      width: 112px;
    }
  }

  &__title {
    rotate: -90deg;
  }
}
