@use "@variables" as vars;

.header__tabs {
  height: 100%;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    height: 100%;

    &__item {
      height: 100%;
      &__navLink {
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
      }
    }
  }
}

.active {
  border-bottom: 2px solid vars.$color-accent;
}
