@use "@variables" as vars;

.swiper {
  height: 100%;
  &__main {
    position: relative;
    height: inherit;
  }
  &__slide {
    &__img {
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 1 / 1;
    }
  }
}

.button {
  position: absolute;
  top: calc(50% - 32px);
  z-index: 10;
  width: 64px;
  height: 64px;

  @include vars.respond-to(mobile) {
    width: 40px;
    height: 40px;
  }


  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: vars.$color-bg;
  background-color: vars.$color-primary;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &__prev {
    left: vars.$space-xl;
    transform: rotate(-180deg);
  }

  &__next {
    right: vars.$space-xl;
  }

  &__arrow {
    width: 30px;
    height: 30px;
  }

  &:hover {
    scale: 1.1;
  }

  &:active {
    scale: 0.9;
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
  }
}
