@use "@variables" as vars;

.price_range {
  display: flex;
  flex-direction: row;
  width: fit-content;
  @include vars.respond-to(tablet) {
    gap: vars.$space-xxs;
  }
  @include vars.respond-to(desktop) {
    gap: vars.$space-xl;
  }
  &__button {
    width: inherit;
    max-width: 150px;
    text-wrap: nowrap;

    &__container {
      @include vars.respond-to(tablet) {
        width: 110px;
      }
      @include vars.respond-to(desktop) {
        width: 150px;
      }
    }
  }
  &__input {
    min-width: 95px;
  }
}
