@use "@variables" as vars;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background: vars.$color-card-bg;
  cursor: pointer;
  @include vars.respond-to(tablet) {
    width: vars.$card-width-tablet;
    height: vars.$card-height-tablet;  
  }
  @include vars.respond-to(desktop) {
    width: vars.$card-width;
    height: vars.$card-height;  
  }

  transition: all 0.2s ease-in-out;
  &__subtitle {

    @include vars.respond-to(tablet) {
      height: 52px;
    }
    @include vars.respond-to(desktop) {
      height: 60px;
    }
  }
  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  }

  &__image {
    @include vars.respond-to(tablet) {
      width: vars.$card-width-tablet;
      aspect-ratio: 1 / 1;
    }
    @include vars.respond-to(desktop) {
      width: vars.$card-width;
      aspect-ratio: 1 / 1;
    }
    object-fit: cover;
  }
  &__content {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include vars.respond-to(tablet) {
      padding: vars.$space-l vars.$space-xxs;
    }
    @include vars.respond-to(desktop) {
      padding: vars.$space-xl vars.$space-xs;
    }
    background: vars.$color-bg;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: vars.$space-xxs;
    @include vars.respond-to(tablet) {
      margin-bottom: vars.$space-s;
    }
    @include vars.respond-to(desktop) {
      margin-bottom: vars.$space-l;
    }
  }
  &__title {
    @include vars.respond-to(tablet) {
      height: 2.5rem;
    }
    @include vars.respond-to(desktop) {
      height: 3rem;
    }
  }
  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

  }
  &__footer__action {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 20px;
  }
}

.skeleton {
  &__image {
    @include vars.skeleton(360px, 360px);
  }

  &__captionSlot {
    @include vars.skeleton(240px, 18px);
  }

  &__title {
    @include vars.skeleton(100%, 3em);
  }

  &__subtitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__child {
      @include vars.skeleton(100%, 16px);
    }
  }

  &__button {
    @include vars.skeleton(155px, 52px);
  }
}
