@use "@variables" as vars;

.modal {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  min-width: 355px;
  padding: vars.$space-m;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;

  &__background {
    position: absolute;
    inset: 0;
    z-index: -1;

    background: linear-gradient(
      135deg,
      rgba(173, 126, 92, 0.5),
      rgba(81, 133, 129, 0.5),
      rgba(166, 216, 209, 0.5)
    );
    border-radius: 10px;

    opacity: 0.4;
  }

}
