@use "@variables" as vars;

.pagination {
  margin: 69px auto 115px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;

  &__button {
    cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    &:first-child {
      rotate: 180deg;
    }
    svg {
      width: 35px;
      height: 35px;
    }

    &_group {
      color: vars.$color-bg;
      width: 38px;
      height: 42px;
      padding: 0;

      &:disabled {
        background: none;
      }
    }

    &_noActive {
      background-color: unset;
      color: vars.$color-primary;

    }
  }
}
