@use "@variables" as vars;

.cart_page {
  display: flex;
  flex-direction: column;
  @include vars.center-container;
  @include vars.respond-to(desktop-large) {
    padding-left: vars.$space-xl2;
    padding-right: vars.$space-xl2;  
  }
  @include vars.respond-to(mobile) {
    padding-left: vars.$space-m;
    padding-right: vars.$space-m;  
  }

  &__header {
    display: flex;
    align-items: center;
    &__title {
      margin: auto;
    }
  }

  &__content {    
    @include vars.respond-to(tablet) {
      display: flex;
      flex-direction: column;
      gap: vars.$space-m;
  }
  @include vars.respond-to(desktop) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: vars.$space-l;
  }

  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: vars.$space-l;
  }
}

