@use "@variables" as vars;

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  box-sizing: content-box;
  height: vars.$header-height;
  border-bottom: 2px solid #f3f3f3;
  background-color: vars.$color-bg;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    height: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: calc(vars.$breakpoint-desktop + 40px)) {
  .header {
    &__container {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
