@use "@variables" as vars;

.related_items {
  &__list {
    display: flex;
    flex-direction: row;
    gap: calc((100% - vars.$width-card * 3) / 2);
    width: 100%;
    margin-top: 32px;
    padding: 0;
    overflow-x: scroll;
  }
}
