@use '@variables' as vars;

.randomDiscount {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: vars.$space-m;
  align-items: center;

  &__info {
    display: flex;
    flex-direction: row;
    gap: vars.$space-xs;
    align-items: center;
  }

}
